<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.sample.service.impl.CarMapper">
	
	
	<select id="getCarList" resultType="egovframework.example.sample.service.CarVO">
	
		select * from car
	
	</select>
	
	
	<select id="getClean" resultType="egovframework.example.sample.service.CleanVO">
SELECT 
    (SELECT TO_CHAR(MAX("time")::time - MIN("time"), 'HH24:MI:SS')
       FROM points
       WHERE car_num = #{car_num} AND date = #{date}) AS "time",
    (SELECT 
       CASE 
        WHEN (SELECT COUNT(*) FROM points WHERE car_num = #{car_num} AND date = #{date}) = 0
        THEN null
        ELSE TRUNC((COUNT(*)::float / (SELECT COUNT(*) FROM points WHERE car_num = #{car_num} AND date = #{date})*100)::numeric, 2)
     END
    FROM points
    WHERE car_num = #{car_num} AND date = #{date} AND noise >= 80 AND rpm > 1500) AS ratio,
    (SELECT lon
     FROM points
     WHERE car_num = #{car_num} AND date = #{date}
     ORDER BY "time" DESC
     LIMIT 1) AS lon,
    (SELECT lat
     FROM points
     WHERE car_num = #{car_num} AND date = #{date}
     ORDER BY "time" DESC
     LIMIT 1) AS lat
	</select>
	
	
	
	
</mapper>